@model Hrc.Models.Commons.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @ViewBag.ID, contactid = @ViewBag.ContactID, title = @ViewBag.Title, bcontroller = @ViewBag.Controller, baction = @ViewBag.Action }) |
    @Html.ActionLink("Back to List", (string)@ViewBag.Action, (string)@ViewBag.Controller, new { id = @ViewBag.ID }, null)
</p>
