@model IEnumerable<Hrc.Models.Commons.Parameter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (@Html.BeginForm("Index", "Parameters", FormMethod.Get))
    {
    <p>
        Key: @Html.DropDownList("keys", "All")
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ParameterID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ParameterID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ParameterID })
                </td>
            </tr>
        }

    </table>
