@model Hrc.Models.Commons.Branch

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Branch</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acronym, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acronym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acronym, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qddd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qddd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Qddd, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div class="table-hover">
            <h4>Contacts</h4>
            @Html.ActionLink("Create New", "Create", "Contacts", new { id = Model.BranchID, contactid = 0, title = "Create Branch Contacts", bcontroller = "Branches", baction = "Edit" }, null)
            <table class="table">
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                @if (Model.Contact != null)
                {
                    foreach (var item in Model.Contact)
                    {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.Value</td>
                    <th>
                        @Html.ActionLink("Edit", "Edit", "Contacts", new { id = Model.BranchID, contactid = item.ContactID, title = "Edit Branch Contacts", bcontroller = "Branches", baction = "Edit" }, null)|
                        @Html.ActionLink("Details", "Details", "Contacts", new { id = Model.BranchID, contactid = item.ContactID, title = "Branch Contacts Detail", bcontroller = "Branches", baction = "Edit" }, null)|
                        @Html.ActionLink("Delete", "Delete", "Contacts", new { id = Model.BranchID, contactid = item.ContactID, title = "Create Branch Contacts", bcontroller = "Branches", baction = "Edit" }, null)
                    </th>
                </tr>
                    }
                }
            </table>
        </div>
        <div class="table-striped">
            <h4>负责人 Contacts</h4>
            @Html.ActionLink("Create New", "Create", "Contacts", new { id = Model.BranchID, contactid = 0, title = "Create 负责人 Contacts", bcontroller = "Branches", baction = "Edit" }, new { @class = "btn btn-default" })
            <table class="table">
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                @if (Model.Contact != null)
                {
                    foreach (var item in Model.FzrContact)
                    {
                        <tr>
                            <td>@item.Type</td>
                            <td>@item.Value</td>
                            <th>
                                @Html.ActionLink("Edit", "Edit", "Contacts", new { id = Model.BranchID, contactid = item.ContactID, title = "Edit Branch Contacts", bcontroller = "Branches", baction = "Edit" }, null)|
                                @Html.ActionLink("Details", "Details", "Contacts", new { id = Model.BranchID, contactid = item.ContactID, title = "Branch Contacts Detail", bcontroller = "Branches", baction = "Edit" }, null)|
                                @Html.ActionLink("Delete", "Delete", "Contacts", new { id = Model.BranchID, contactid = item.ContactID, title = "Create Branch Contacts", bcontroller = "Branches", baction = "Edit" }, null)
                            </th>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
